[submodule ".tmux/plugins/minimal-tmux-status"]
	path = .tmux/plugins/minimal-tmux-status
	url = https://github.com/niksingh710/minimal-tmux-status/
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-sessionist"]
	path = .tmux/plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
